@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to BookStore</h1>
    <br>
    <h3 class="display-6">Проект книжного интернет-магазина, сделанный учащимся школы программирования <b>TeachMeSkills</b> Кузьменковым Д.В.</h3>
</div>
